 /* @dark: #3e444b;
 @light: #f8f9fa; */

 :root{
     --dark-color: #3e444b;
     --light-color: #f8f9fa;
     --light-color-hover: #ebedf1;
     --darker-color: #1e2225;
     --gray-500: #adb5bd;
     --gray-800: #343a40;
     --light-gray: #edeef0;
     --red-500: #dc3545;
     --red-400: #df4d5b;
     --blue-500: #0d6efd;
 }




body {
    background-color: var(--light-gray);
    transition: background-color 0.2s linear;
    position: relative;
}

body.dark{
    background-color: var(--darker-color);
}

.dark main{
    background-color: var(--darker-color);
}

.navbar{
    padding-top: .3rem;
    padding-bottom: .3rem;
}

.list-group-item.active{
    z-index: 0;
}

.dark .list-group-item{
    background-color: var(--gray-500);
}

.dark .list-group-item.active{
    background-color: var(--blue-500)
}

.cCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 15px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 0;
    transition: background-color 0.2s linear;
}

td{
    overflow-wrap: break-word;
}

.text-overflow{
    display: block;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}

.dark .cCenter {
    background-color: var(--darker-color);
    transition: background-color 0.2s linear;
}

.userLinkOnAdminPage{
    color: black;
    padding: .2rem;
    margin-right: none;
}

.userLinkOnAdminPage:hover{
    background-color: var(--light-color-hover);
    border-radius: 5px;
    
}

.dark .userLinkOnAdminPage{
    color: var(--light-color);
}

.dark .userLinkOnAdminPage:hover{
    color: var(--dark-color);
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6, .dark span, .dark li, .dark text{
    color: var(--light-color);
}

.dark p{
    color: var(--light-color);
}

.dark label{
    color: var(--light-color)
}

.dark .navbar-brand{
    color: var(--light-color);
}

.cCenterMainPage {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* position: absolute; */
    /* width: 100vw; */
    /* height: 100vh; */
    padding: 15px;
    box-sizing: border-box;
    /* background: url(https://image.freepik.com/free-vector/soft-blue-gradients-color-background_43969-1038.jpg) no-repeat; */
    background-color: var(--light-gray);
    transition: background-color 0.2s linear;
    z-index: 0;
}

.dark .cCenterMainPage {
    background-color: var(--darker-color);
}

.cCenterCommentSection{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
    background-color: var(--light-gray);
    transition: background-color 0.2s linear;
    z-index: 0;
}

.dark .cCenterCommentSection{
    background-color: var(--darker-color);
}

.centeredElement{
    display: flex;
    justify-content: center;
}

.dark .centeredElement{
    background-color: var(--darker-color);
}

.align-items-center{
    align-items: center!important;
}

.borderInTableOnUserPage{
    border-color: black;
    border-bottom-width: 2px;
}

.dark .borderInTableOnUserPage{
    border-color: white;
    border-bottom-width: 3px;
}

/* .dark .dShadow {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
} */

.dShadow {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
}

.mW548 {
    max-width: 548px;
}

.w100 {
    width: 100%;
}

.boRa {
    border-radius: 8px;
}

.mB20 {
    margin-bottom: 20px;
}

.mB15 {
    margin-bottom: 15px;
}

.mB10 {
    margin-bottom: 10px;
}

.Toastify__toast {
    margin-bottom: 10px !important;
    border-radius: 8px !important;
}

.Toastify__toast {
    min-height: unset !important;
}

.Toastify__toast-body {
    margin: 0 !important;
}

.Toastify__progress-bar--default {
    background: var(--primary) !important;
}

.Toastify__progress-bar--animated {
    animation: Toastify__trackProgress linear 1 forwards;
  }

.bgWhite {
    background: #fff;
}

.mLeft80 {
    margin-left: -80px;
}

.tableOverflow {
    overflow-x: auto;
}

.table thead th {
    border-bottom: 0;
}

.mainNavBar{
    /* style={{background: 'white', zIndex: 1} } */
    background-color: white;
    z-index: 1;
    transition: background-color 0.2s linear;
}

.dark .mainNavBar{
    /* style={{background: 'white', zIndex: 1} } */
    background-color: var(--dark-color);
    z-index: 1;
    transition: background-color 0.2s linear;
}

.mainPageSection{
    background-color: #f8f9fa;
    transition: background-color 0.2s linear;
}
.dark .mainPageSection{
    background-color: var(--darker-color);
    text-decoration-color: var(--light-color);
    transition: background-color 0.2s linear;
}

.userImageSection{
    background-color: white;
    transition: background-color 0.2s linear;
}

.avatar{
    width: 168px;
    margin-top: -8rem;
    border: 3px solid var(--light-color);
    transition: border 0.2s linear;
    /* border-radius: 10px;
    border-color: green; */
}

.dark .avatar{
    border-color: var(--darker-color);
}

.avatar.drag-area{
    border: 5px dashed var(--darker-color);
    opacity: 0.95;
}

.drag-area{
    border: 2px dashed var(--darker-color);
    /* opacity: 0.95; */
}

.drag-area-text{
    position: absolute;
    z-index: 1;
    margin-top: -50px;
    margin-left: 50px;
    font-weight: bold;
}

.userAvatarUsernameOnFanficCard{
    opacity: 0.85;
    cursor: pointer;
    /* border-radius: 30px; */
}

.userAvatarUsernameOnFanficCard:hover{
    opacity: 1;
    background: var(--light-color-hover);
}

.userAvatarUsernameOnCommentCard{
    cursor: pointer;
    border-radius: 5px;
    padding: .2rem;
}

.userAvatarUsernameOnCommentCard:hover{
    background: var(--light-color-hover);
}

.dark .userAvatarUsernameOnCommentCard:hover{
    background: var(--gray-500);
}

.dark .userAvatarUsernameOnFanficCard:hover{
    opacity: 1;
    background: var(--gray-500);
}

.leaveCommentCard{
    width: 35rem;
}

.commentCardInCommentSection{
    width: 35rem
}

.dark .commentCardInCommentSection{
    background-color: var(--dark-color);
}

.dark .userImageSection{
    background-color: var(--darker-color);

}

.dark .btn-dark{
    background-color: var(--light-color);
    color: var(--dark-color);
    border-color: var(--light-color);
}

.userFanficsSection{
    padding-top: 0.5rem;
    background-color: var(--light-gray);
    transition: background-color 0.2s linear;
}

.dark .userFanficsSection{
    background-color: var(--darker-color);
}

.dark .fanficListTable{ 
    color: var(--light-color);
}

.fanficViewPageContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: background-color 0.2s linear;
}

.dark .fanficViewPageContainer{
    background-color: var(--darker-color);
    transition: background-color 0.2s linear;
}

.scrollspyChapters{
    /* display: flex; */
    position: relative;
    /* min-height: 15rem; */
    /* max-height: 25rem; */
    height: 20rem;
    margin-top: .5rem;
    overflow-y: auto;
}

.likeButtonOnTextView{
    
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
    background-color: var(--light-color-hover);
}

.likeButtonOnTextView:hover{
    /* background-color: rgb(255, 194, 194);   */
    background-color: #c5dcff;
}

.heartSvgContainer{
    width: 27px;
    display: flex;
}

.heartSvgContainer path{
    fill: transparent;
    stroke-width: 30;
    stroke: var(--blue-500);
}

.likeButtonOnTextView:hover .heartSvgContainer path{
    fill: var(--blue-500);
    stroke-width: 30;
    stroke: var(--blue-500);
}

.likeButtonOnTextView .heartSvgContainer.active path{
    fill: var(--blue-500);
    stroke-width: 30;
    stroke: var(--blue-500);
}

.dark .likeButtonOnTextView{
    background-color: var(--gray-800);
}

.leaveCommentCard {
    display: flex;
    /* position: absolute; */
}

.dark .leaveCommentCard {
    background-color: var(--dark-color);
}

.dark .mainCard_CreatePage{
    background-color: var(--dark-color);
}

.dark .chapterCardOnCreatePage{
    background-color: var(--gray-500);
}

.dark .adminPageCard{
    background-color: var(--dark-color);
}

.dark .fa-user, .dark .fa-eye, .dark .fa-pencil, .dark .fa-home{
    color: var(--light-color);
}

.fa-user{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    border-radius: 7px;
    color: black;
}

.fa-user.onTextEditPage{
    color: black;
    font-size: 15px
}

.dark .fa-user.onTextEditPage{
    color: var(--light-color);
    font-size: 15px
}

.fa-home{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    border-radius: 7px;
    color: black;
}

.fa-pencil{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 4px;
    /* font-size: 1.25rem; */
    /* border: 1px solid var(--light-color); */
    border-radius: 5px;
    color: black;
}

.fa-eye{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 4px;
    /* font-size: 1.25rem; */
    /* border: 2px solid var(--darker-color); */
    border-radius: 5px;
    color: black;
}

.fa-trash{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 4px;
    padding-right: 4px;
    /* font-size: 1.25rem; */
    /* border: 1px solid var(--light-color); */
    border-collapse: var(--light-color);
    border-radius: 5px;

    color: #dc3545;
}



.fa.fa-pencil.fanficlist:hover{
    background-color: gray;
}

.fa-eye:hover{
    background-color: gray;
}

.fa-trash:hover{
    background-color: gray;
}

.fa.fa-pencil.editPencilOnViewPage{
    color: var(--light-color);
}

.fa.fa-pencil.editPencilOnViewPage:hover{
    background-color: 0;
}

.col .fa:hover{
    background-color: #91d3ff;
}

.rounded{
    border-radius: 8rem;
}

.customCard{
    width: 18rem;
}

/* .dark .card{
    background-color: var(--dark-color);
} */



.dark .dropdown-menu{
    background-color: var(--dark-color);
}

.dark .dropdown-item:hover{
    background-color: darkgrey;
}

.cardFanfics{
    background-color: var(--light-color);
    transition: background-color 0.2s linear;
}
.dark .cardFanfics{
    background-color: var(--dark-color);
}

/* .cardFanficMainPage{
    width: 35rem;
} */

.dark .cardFanficMainPage{
    background-color: var(--dark-color);
}

.cardOnTextViewPage{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    /* max-height: 400px; */
}
.dark .cardOnTextViewPage{
    background-color: var(--dark-color);
}

.cardSummaryOnTextViewPage{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

.dark .cardSummaryOnTextViewPage{
    background-color: var(--dark-color);
}

.modeCheckBox{
    opacity: 0;
    /* margin-left: 1rem; */
    position: absolute;
    /* justify-content: space-between; */
}

.bg-image{
    background: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg') center no-repeat;
    height: 15rem;
}


.inputImageLabel{
    
}

.fileInput{
    display: none;
}

.adminPageCard{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.loader{
    display: flex;
    justify-content: center;
}

.dark .spinner-border{
    color: var(--light-color);
}

@media (min-width: 991px){
    .cardFanfics{
        width: 60rem;
    }
    .fa-pencil{
        font-size: 1.25rem;
    }
    .fa-eye{
        font-size: 1.25rem;
    }
    .fa-trash{
        font-size: 1.25rem;
    }
    .chapterCardOnCreatePage{
        width: 40rem;
    }
    .mainCard_CreatePage{
        width: 60rem;
    }
    .chapterContentArea{
        width: 42rem;
    }
    .chapterAccordionCollapse{
        width: 40rem;
    }
    .cardFanficMainPage{
        width: 35rem;
    }
    .cardSummaryOnTextViewPage{
        width: 45rem;
    }
    .chapterTitleInput{
        width: 15rem;
    }
    .imageNameAndLoadedClass{
        font-size: 16px;
    }
}

@media (max-width: 991px) {
    .navbar .container-fluid {
        flex-direction: column;
    }
    .navbar-brand {
        margin: 0;
    }
    .mLeft80 {
        margin-left: 0;
    }
    .cardFanfics{
        width: 50rem;
    }
    .fa-pencil {
        font-size: 1rem;
    }
    .fa-eye{
        font-size: 1rem;
    }
    .fa-trash{
        font-size: 1rem;
    }
    .chapterCardOnCreatePage{
        width: 35rem;
    }
    .mainCard_CreatePage{
        width: 40rem;
    }
    .chapterContentArea{
        width: 35rem;
    }
    .chapterAccordionCollapse{
        width: 35rem;
    }
    .cardFanficMainPage{
        width: 30rem;
    }
    .cardSummaryOnTextViewPage{
        width: 38rem;
    }
    .chapterTitleInput{
        width: 10rem;
    }
    .imageNameAndLoadedClass{
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .btn{
        font-size: .8rem;
    }
    h6{
        font-size: .8rem;
    }
    .table {
        font-size: .7em;
    }
    .cardFanfics{
        width: 37rem;
    }
    .fa-pencil {
        font-size: .8rem;
    }
    .fa-eye{
        font-size: .8rem;
    }
    .fa-trash{
        font-size: .8rem;
    }
    .chapterCardOnCreatePage{
        width: 100%;
    }
    .mainCard_CreatePage{
        width: 22rem;
    }
    .ratingStars{
        size: 20px;
    }
    .chapterContentArea{
        width: 18.5rem;
    }
    .chapterAccordionCollapse{
        width: 18.5rem;
        min-width: 10rem;
    }
    .cardFanficMainPage{
        width: 20rem;
    }
    .cardOnTextViewPage{
        width: auto;
    }
    .cardSummaryOnTextViewPage{
        width: 30rem;
    }
    .commentCardInCommentSection{
        width: 20rem;
    }
    .leaveCommentCard {
        width: 20rem;
    }
    .scrollspyChapters{
        max-width: 28rem;
    }
    .chapterTitleInput{
        width: 5rem;
    }
    .imageNameClass{
        text-overflow: ellipsis;

        white-space: nowrap;
        overflow: hidden;
        
        font-size: 12px;
        width: 4.2rem;
    }
    .textLoaded{
        font-size: 12px;
    }
    .form-control{
        font-size: .8rem;
        height: 80%;
    }
    .cellUserId{
        max-width: 3.2rem;
    }
}